<%-include('components/header.ejs')%>



<div class="container mt-5">
  <% if (successmsg) { %>
    <div class="alert alert-success" role="alert">
        <%=successmsg%>
      </div>
  <% } %>

    <h2>All meeting rooms</h2>
    <p>details about all reservation <button type="button" class="btn btn-primary"><a href="/salle/allreservations" style="color: white;">all Reservations</a></button></p>
  <table class="table salles">
      <thead>
          <tr>
              <th scope="col">number</th>
              <th scope="col">Capacity</th>
              <th scope="col">Action</th>
          </tr>
      </thead>
      <tbody>
        <% for(salle of salles){%>
          <tr>
              <td><%= salle.nom %></td>
              <td><%= salle.capacity%></td>
              <td>
                <button type="button" class="btn btn-primary"><a href="/salle/details/<%=salle.id%>">details</a></button>

              </td>
          </tr>
         <%}%>
          <!-- Add more rows as needed -->
      </tbody>
  </table>
</div>

<%-include('components/footer.ejs')%>
