<%-include('components/header.ejs')%>



<div class="container mt-5">
 

    <h2>All meeting rooms</h2>

  <table class="table salles">
      <thead>
          <tr>
              <th scope="col">number</th>
              <th scope="col">Capacity</th>
              <th scope="col">Action</th>
          </tr>
      </thead>
      <tbody>
        <% for(salle of salles){%>
          <tr>
              <td><%= salle.nom %></td>
              <td><%= salle.capacity%></td>
              <td>
                <button type="button" class="btn btn-primary"><a href="/reserve/room/<%=salle.id%>">reserve</a></button>

              </td>
          </tr>
         <%}%>
          <!-- Add more rows as needed -->
      </tbody>
  </table>
</div>

<%-include('components/footer.ejs')%>
